.selectWrapper{
  height: 281px;
  color: #FFFFFF;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    display: none;
  }
}

.section{
  display: flex;
  flex-direction: column;
  gap: 24px
}

.inside{
  display: flex;
  flex-direction: column;
  gap: 20px;
}