.overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.60);
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: black;
}

.small{
   border-radius: 16px;
   padding: 32px 32px 28px 32px;
   width: 406px;
   height: 204px;
   gap: 24px;
   background:
           //radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 50%, #000 100%),
            black url('/svg/circle.svg') no-repeat top left;
 }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #232934;
}

.small h2{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 20px;
}

.large{
  border-radius: 24px;
  width: 680px;
  height: 547px;
  padding: 32px 32px 24px 32px;
  background: #000;
  gap: 20px
}

.large .header{
  padding-bottom: 10px;
}

.large h2{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 24px;
}

.confirmation{
  border-radius: 16px;
  padding: 32px;
  width: 406px;
  height: 204px;
  gap: 18px;
}

.confirmation .header{
  border: none;
  display: flex;
  justify-content: center;
}

.confirmation h2{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}