.container {
  background: #0c0e12;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.small {
  max-width: 318px;
  width: 100%;
}

.medium {
  max-width: 616px;
  width: 100%;
}

.large {
  max-width: 817px;
  width: 100%;
}

.listName {
  width: 342px;
  height: 38px;
  padding: 8px 16px;
  background: #000;
  border: 1px solid #3e4146;
}

.input {
  width: 100%;
  background: inherit;
  caret-color: #fff;
  color: #fff;
  outline: none;
  ::placeholder {
    font-size: 16px;
    font-weight: 400;
  }
  border: none;
}
