.container :global .ant-tabs-top {
  max-width: 348px;
  width: 100%;
  flex-direction: row;
}

.container :global .ant-tabs-nav-list {
  display: flex;
  align-items: center;
  gap: 44px;
  border: none;
}

.container :global .ant-tabs-nav-more {
  display: none;
}

.container :global .ant-tabs-tab-btn {
  color: #fff;
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.container :global .ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: 1px solid #303236;
}

.container :global .ant-tabs .ant-tabs-ink-bar {
  background: #ff520b;
}

.container :global .ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  color: #fff !important;
  text-shadow: unset !important;
}
